<input
type="text"
class="form-control"
[(ngModel)]="userID">
<button
  class="btn btn-primary"
  (click)="get_user()">Busca</button>

<div *ngFor="let post of posts">
    <ul>
        <li>
            <h4>ID usuari</h4>
            {{post["userId"]}}
        </li>
        <li>
            <h4>ID post</h4>
            {{post["id"]}}
        </li>
        <li>
            <h4>Títol</h4>
            {{post["title"]}}
        </li>        
        <li>
            <h4>Body</h4>

            {{post["body"]}}
        </li>    
    </ul>
</div>
<h3>New Post</h3>
<form #formContacte="ngForm" (ngSubmit)="onSubmit()">
    Títol:
    <input
    type="text"
    class="form-control"
    name="title"
    #titol="ngModel"
    [(ngModel)]="post.title">

    <div *ngIf="{{ post.title | lowercase }}">
        <h3>El titol ha de ser en minúscules</h3>
    </div>
    <br>
    <br>

    Cos:
    <input
    type="text"
    class="form-control"
    name="body"
    #body="ngModel"
    [(ngModel)]="post.body">
    
    <div *ngIf="{{ post.body | lowercase }}">
        <h3>El cos ha de ser en minuscúles</h3>
    </div>

    <br>
    <br>

    <button type="submit">Puja</button>
</form>
<div *ngIf="_error!=''">
    <h3>{{_error}}</h3>
</div>