<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://cdn-icons-png.flaticon.com/512/633/633636.png" style="width: 100px;" alt="image"/>
				<h2>Modifica Projecte</h2>
			</div>
		</div>
		<div class="col-md-9">
			<form #formProjecte="ngForm" (ngSubmit)="onSubmit(formProjecte)" enctype="multipart/form-data">
				<div class="contact-form">
					<div class="form-group">
					<label class="control-label col-sm-2" for="fname">Nom:</label>
					<div class="col-sm-10">          
						<input type="text" class="form-control" id="name" placeholder={{projecte.project.name}} name="name" #name="ngModel" [(ngModel)]="projecte.name" >
					</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="lname">Descripció:</label>
					<div class="col-sm-10">           
						<input type="text" class="form-control" id="descripcio" placeholder="{{projecte.project.description}}" name="descripcio" #description="ngModel" [(ngModel)]="projecte.description" >
					</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="email">Categoría:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="categoria" placeholder="{{projecte.project.category}}" name="categoria" #category="ngModel" [(ngModel)]="projecte.category" >
					</div>
					</div>
					<div class="form-group">
					<label class="control-label col-sm-2" for="comment">Any:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="any" placeholder="{{projecte.project.year}}" name="any" #year="ngModel" [(ngModel)]="projecte.year" >
					</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="comment">Llenguatges:</label>
						<div class="col-sm-10">
						<input type="text" class="form-control" id="llenguatges" placeholder="{{projecte.project.langs}}" name="llenguatges" #langs="ngModel"  [(ngModel)]="projecte.langs" >
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="comment">Imatge del projecte:</label>
                        <img src="{{url+'/get-image/'+projecte.project.image}}" *ngIf="projecte.project.image != 'null' || projecte.image != ''" class="card-img-top" alt="...">

						<div class="col-sm-10">
							<div class="file-loading">
								<input id="image" name="image" multiple type="file" class="file" data-allowed-file-extensions='["png", "jpg", "jpeg"]' (change)="fileChangeEvent($event)">
							</div>
						</div>
					</div>
					<div class="form-group">        
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" [disabled]="!formProjecte.form.valid" class="btn btn-default">Modificar</button>
					</div>
					</div>
					<div  [ngStyle]="{'display': succes_status}" class="alert alert-success" role="alert">
						<strong>Projecte</strong> Actualitzat correctament el pots veure <a href="">aquí</a> 
						<button type="button" class="close" (click)="tanca()">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
				</div>
			</form>
		</div>
	</div>
</div>