<div id="menu">
  <h1>{{ title }}</h1>	
  <nav>
      <a [routerLink]="['/']" [routerLinkActive]="['marca']" > Home </a>
      &nbsp;
      <a [routerLink]="['/modul6']"[routerLinkActive]="['marca']"> Modul6 </a>
      &nbsp;
      <a [routerLink]="['/exemple02']"[routerLinkActive]="['marca']"> Exemple02 </a>
      &nbsp;
      <a [routerLink]="['/cotxe']"[routerLinkActive]="['marca']"> Cotxe </a>
      &nbsp;
      <a [routerLink]="['/unitats-formatives']"[routerLinkActive]="['marca']"> UnitatFormativa </a>
      &nbsp;
      <a [routerLink]="['/extern']"[routerLinkActive]="['marca']"> extern </a>
      &nbsp;
      <a [routerLink]="['/descompte']"[routerLinkActive]="['marca']"> Descompte </a>
      &nbsp;
      <a [routerLink]="['/FormulariPost']"[routerLinkActive]="['marca']"> formulariPost </a>
  </nav>
 </div>
 <br>
 <div id="apps">
  <router-outlet></router-outlet>
</div>